#pixel-container
{
	width:890px;
	height:890px;
	left:50px;
	border:5px solid black;
	border-radius:10px;
	
	background-color:rgba(152,224,195,0.2);
	position:absolute;	  
}
.pixel
{
	width:10px;
	height:10px;
	border-radius:1px;
	border:1px solid black;
	box-sizing:border-box;
	position:absolute;
}
#controller
{
	width:150px;
	height:200px;
	left:960px;
	top:10px;
	font-size:20px;
	border:5px solid black;
	border-radius:10px;
	position:absolute;
}
input
{
	width:50px;
	font-size:15px;
	border:1px solid black;
	background-color:rgba(142,245,175,1);
	margin:0px auto;
}
#b_controller
{
	width:150px;
	height:200px;
	left:960px;
	top:240px;
	font-size:20px;
	border:5px solid black;
	border-radius:10px;
	position:absolute;
}

